APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_DEFAULT_CONNECTION=mysql

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null

IMGUR_KEY=secret
IMGUR_SECRET=secret
IMGUR_REDIRECT_URI=your_url

DROPBOX_KEY=secret
DROPBOX_SECRET=secret
DROPBOX_REDIRECT_URI=your_url

FETCH_FAVS_PING=http://url.to/ping/after/cronjob

MANDRILL_KEY=secret