language: php

php:
  - 5.5
  - 5.6

sudo: false

before_script:
  - travis_retry composer self-update
  - travis_retry composer install --prefer-source --no-interaction
  - php artisan migrate --seed --force

script: phpunit