.nav-guest {
    background: none;
    border: none;

    a {
        color: #fff;
    }



}

.navbar-default {

    .navbar-brand {
        color: #fff;
        font-weight: bold;

        &:hover {
            color:  #eaeaea;
        }
    }

    .navbar-nav > li > a {
        color: #fff;

        &:hover {
            color: #fff;
        }
    }

}

.navbar-branded {
    border-radius: 0;
}

.logo-small {
    font-size: 12px;
}