// Core variables and mixins
@import "variables";
@import "bootstrap/mixins";

@mixin respond-to($breakpoint) {
  @if $breakpoint == "small" {
    @media (min-width: 767px) {
      @content;
    }
  }

  @else if $breakpoint == "medium" {
    @media (min-width: 992px) {
      @content;
    }
  }

  @else if $breakpoint == "large" {
    @media (min-width: 1200px) {
      @content;
    }
  }
}

/**
 * See
 * http://csswizardry.com/2015/03/more-transparent-ui-code-with-namespaces/
 */

.t-marketing {
    background-image: url("../../images/body-background.png");
    background-repeat: no-repeat;
    background-size: 100%;
}


/**
 * Components
 */

.c-navbar {
    border-radius: 0;
    box-shadow: 0 0 5px 2px #757575;

    .t-marketing & {

    }
}


.c-marketing-hero {
    margin-top: 2em;

}

.c-browser-preview {
    width: 750px;
    margin: 40px auto;
}

.c-feature-grid {

}

.c-feature__item {
    text-align: center;
    margin-bottom: 2em;

    & h3 {
        font-size: 18px;
        font-weight: $font-weight__semibold;
        margin-top: 15px;
    }
}

.c-footer {
    border-top: 1px solid #B6B6B6;
    margin-top: 20px;
    padding: 10px 0;
}

.c-footer__list-item {
  padding: 15px 0;
}


/**
 * Objects
 */

.o-product-header {
    font-size: 24px;
    font-weight: $font-weight__semibold;
    margin-bottom: 25px;
}

.o-product-text {
    font-size: 18px;
    margin-bottom: 20px;
}

.o-btn-cta {
    font-size: 16px;
    font-weight: $font-weight__semibold;
    margin-top: 15px;
    padding: 10px 40px;
}